
/* alert
*******************************************************************/
.alert {
    background-color: transparent;
    @media (min-width: 768px) {
        padding: 20px 80px;
    }
    @media (max-width: 767px) {
        padding: 20px;
    }
    text-align: center;
    color: $gray-900;
    font-size: 18px;
    h2 {
        font-weight: 400;
        margin-bottom: 10px;
        @media (max-width: 767px) {
            font-size: 24px;
        }
    }
    small {
        font-size: 16px;
        line-height: 1.4em;
        display: block;
    }
    &::before {
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 32px;
        @media (min-width: 768px) {
            position: absolute;
            left: 20px;
            top: 50%;
            margin-top: -20px;
        }
        @media (max-width: 767px) {
            display: block;
            margin-bottom: 10px;
        }
    }

    &.alert-success {
        border-color: $app-color-2;
        &::before {
            content: "\e90c";
            color: $app-color-2;
        }
    }

    &.alert-secondary {
        text-align: left;
        @media (min-width: 768px) {
            padding: 20px 40px 20px 80px;
        }
        border-color: $gray-300;
        background: lighten($gray-100, 2%);
        color: $gray-600;
        &::before {
            font-size: 24px;
            content: "\e90f";
            color: $gray-400;
            @media (min-width: 768px) {
                margin-top: -12px;
            }
        }
    }

    &.alert-danger {
        border-color: $app-color-1;
        &::before {
            content: "\e910";
            color: $app-color-1;
        }
    }

    &.alert-warning {
        border-color: $alert-yellow;
        &::before {
            content: "\e90b";
            color: $alert-yellow;
        }
    }
}

@media (max-width: 1479px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}
