/* breadcrumb
*******************************************************************/

.backward {
    margin-bottom: 20px;
    a {
        color: $gray-900;
        font-size: 18px;
        text-decoration: none;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background: $gray-900;
            top: 100%;
            margin-top: 4px;
            left: 36px;
            -webkit-transition: width 0.2s ease-out;
            transition: width 0.2s ease-out;
        }
        &:hover::after {
            width: calc(100% - 36px);
        }
        i {
            color: $app-color-1;
            font-size: 24px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 2px;
        }
        &:focus,
        &:hover {
            text-decoration: none;
            color: $gray-900;
        }
    }
}

.forward {
    margin-bottom: 20px;
    a {
        color: $gray-900;
        font-size: 18px;
        text-decoration: none;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background: $gray-900;
            top: 100%;
            margin-top: 4px;
            left: 0;
            -webkit-transition: width 0.2s ease-out;
            transition: width 0.2s ease-out;
        }
        &:hover::after {
            width: calc(100% - 36px);
        }
        i {
            color: $app-color-1;
            font-size: 24px;
            margin-left: 10px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 2px;
        }
        &:focus,
        &:hover {
            text-decoration: none;
            color: $gray-900;
        }
    }
}

.breadcrumb {
    background: none;
    font-weight: 300;
    border-radius: 0;
    margin: 10px 0 40px !important;
    padding: 0 0 16px;
    font-size: 28px;
    @media (max-width: 991px) {
        font-size: 24px;
    }
    @media (max-width: 767px) {
        font-size: 20px;
    }
    border-bottom: 1px solid $gray-900;
    .breadcrumb-item {
        color: $gray-900;
        font-weight: 400;
        a {
            color: $gray-900;
        }
        &.active {
            color: $gray-900;
            font-weight: 600;
            letter-spacing: 2px;
        }
    }

    .btn.btn-link {
        box-shadow: none;
        font-weight: normal;
        color: $black;
        padding-top: 3px;
        padding-left: 6px;
        padding-right: 6px;
        @media (max-width: 991px) {
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: -6px;
        }
        &:hover {
            color: $app-color-1;
        }
    }
}
