/* buttons
*******************************************************************/

.btn-primary {
    background: $app-color-1;
    border: 1px solid $app-color-1;
    color: white;
    &:active,
    &:focus,
    &:hover {
        background: $white !important;
        color: $app-color-1 !important;
        border: 1px solid $app-color-1 !important;
        box-shadow: none;
    }
}

.btn-outline-primary-1 {
    background: white;
    border: 1px solid $app-color-1;
    color: black;
    &:focus,
    &:hover {
        border-bottom: 4px solid $app-color-1;
        text-decoration: none;
    }
}

.btn-white {
    border: 0;
    background: white;
    border-bottom: 4px solid white;
    color: black;
    padding-top: 7px;
    padding-bottom: 5px;
    &:focus,
    &:hover {
        border-bottom: 4px solid $app-color-1;
        color: black;
        text-decoration: none;
        box-shadow: none;
    }
}

.btn-outline-white {
    background: transparent;
    border: 1px solid white;
    color: white;
    &:focus,
    &:hover {
        background: white;
        color: black;
        box-shadow: none;
    }
}

.btn-black {
    background: black;
    border: 1px solid black;
    color: white;
    i {
        color: $app-color-1;
    }
    &:focus,
    &:hover {
        border: 1px solid $app-color-1;
        background: $app-color-1;
        color: white;
        box-shadow: none;
        i {
            color: white;
        }
    }
}

.btn-outline-black {
    background: transparent;
    border: 1px solid black;
    color: black;
    i {
        color: $app-color-1;
    }
    &:focus,
    &:hover {
        border: 1px solid $app-color-1;
        background: $app-color-1;
        color: white;
        box-shadow: none;
        i {
            color: white;
        }
    }
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    font-weight: 500;
    transition: all linear .2s;
    box-shadow: 0 .2em 10px -3px rgba($black,.4);
}

.btn-setView {
    padding: 0 5px;
    box-shadow: none;
    &.app-color-1 {
        &:focus,
        &:hover {
            color: $app-color-1;
        }
    }
}

.btn-lg {
    padding: 10px 40px;
    font-size: 1rem;
    min-width: 200px;
    letter-spacing: 1px;
    i {
        position: absolute;
        right: 34px;
        font-size: 1.4rem;
    }
}

.btn-xl {
    padding: 10px 80px;
    font-size: 24px;
    min-width: 200px;
}

.btn {
    &.btn-link {
        color: $app-color-1;
        font-weight: 600;
    }
}
