/* forms
*******************************************************************/

.custom-select,
.form-control {
    border-color: $gray-800;
}

.form-control:focus,
.custom-select:focus {
    border-color: $app-color-1;
    box-shadow: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $app-color-1;
    background-color: $app-color-1;
}

.custom-control-input:disabled ~ .custom-control-label::before {
    border-color: $gray-300;
    background: $white;
}

.custom-control {
    .custom-control-label::before {
        border-color: $gray-900;
    }
    a {
        color: $gray-900;
        font-weight: 600;
        text-decoration: underline;
    }
}

.input-group-text {
    background-color: $black;
    border-color: $black;
    color: $white;
}

.form-control-icon {
    position: relative;
    display: block;
    .form-control {
        padding-right: 46px;
    }
    i {
        position: absolute;
        top: 50%;
        margin-top: -12px;
        right: 14px;
        color: $gray-300;
        font-size: 22px;
    }
}

