/* pagination
*******************************************************************/

.pagination {
    margin-bottom: 0;
    .page-item {
        margin-bottom: 0;
        &.active {
            .page-link {
                background: $black;
                color: $white;
                border-color: $black;
            }
        }
        .page-link {
            color: $black;
        }
        .page-dotted {
            padding: 8px 10px;
            display: block;
        }
        .page-prev,
        .page-next {
            padding: 8px 10px;
            display: block;
            color: $app-color-1;
            &:focus,
            &:hover {
                text-decoration: none;
                color: $black;
            }
        }

    }
}

@media (max-width: 1479px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}
