/* table
*******************************************************************/
.table {
    &.table-orders {
        thead {
            background: $black;
            color: $white;
            th {
                font-weight: 400;
            }
        }
        tbody {
            tr {
                box-shadow: 0 0 0 2px $white inset, 0 0 0 3px $gray-200 inset;
                &[data-href] {
                    cursor: pointer;
                }
                i {
                    color: $app-color-1;
                    transition: color ease-in .2s;
                }
                &:nth-of-type(2n+1) {
                    background: lighten( $gray-100, 2% );
                    &[data-href]:hover {
                        background: $app-color-3;
                    }
                }
                &[data-href]:hover {
                    background: $app-color-3;
                    i {
                        color: $gray-900;
                    }
                }
                th,
                td {
                    border: 0;
                    vertical-align: middle;
                }
            }
        }
    }
    &.table-price-list {
        border: 1px solid $gray-200;
        thead {
            background: lighten( $gray-200, 5% );
            th {
                font-weight: 700;
                border-bottom-width: 1px;
                vertical-align: middle;
                text-align: center;
                &:first-child {
                    border-right: 1px solid $gray-200;
                }
            }
            .th-label {
                text-align: right;
                display: block;
                color: $gray-400;
            }
            .td-label {
                text-align: left;
                display: block;
                color: $gray-400;
            }
        }
        tbody {
            tr {
                &:nth-of-type(2n+1) {
                    background: lighten( $gray-100, 2% );
                }
                th,
                td {
                    vertical-align: middle;
                    text-align: center;
                }
                th {
                    border-right: 1px solid $gray-200;
                    text-align: left;
                    font-weight: 600;
                }
            }
        }

    }
}

@media (max-width: 1479px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}
